@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-vietnam-pro: 'Be Vietnam Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vietnam-pro);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero-image img {
  animation: float 6s ease-in-out infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.flicker {
  animation: flicker 1s infinite;
}
/* logo slider */
@keyframes slideRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-50% - 2rem)); }
}

.animate-slide-right-slow {
  animation: slideRight 900s linear infinite;
}

.hexagon-mask {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  flex-shrink: 0;
  background: rgb(232, 247, 253);
}

.njere-feature-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.njere-feature-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* desktopnav */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}
/* Styles for marquee animation */
      @keyframes marquee {
          0% { transform: translateX(0); }
          100% { transform: translateX(-50%); }
        }